<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>My Cute Website</title>
</head>
<body>
  <h1>Pizza Toppings Editor</h1>
  <section>
    <h2>Toppings</h2>
    <ul id="toppings-list">

    </ul>
    <form id="topping-form">
      <input type="text" placeholder="Topping" name="topping" />
      <button>Add Topping</button>
    </form>
  </section>
  <script src="client.js"></script>
</body>
</html>